<tr id="<%= dom_id friendrow %>">
  <td>
    <%= friendrow.first_name %>
  </td>

  <td>
    <%= friendrow.last_name %>
  </td>

  <td>
    <%= friendrow.email %>
  </td>

  <td>
    <strong>Phone:</strong>
    <%= friendrow.phone %>
  </td>

  <td>
    <%= friendrow.twitter %>
  </td>

  <td>
    <%= link_to "Show", friendrow, class:"btn btn-primary" %>
  </td>
</tr>
